@media (min-width: 1200px) {
  .cutting-left {
    padding-right: 50px; } }

@media (max-width: 1199px) {
  .slider-img {
    width: 300px; }
  .slider-text h2 {
    font-size: 34px; }
  .calculation__right {
    padding-left: 40px; }
  .calculation__item {
    width: 45%;
    margin-bottom: 20px; }
  .item-title_big {
    font-size: 30px; }
  .cutting__btn .btn-white {
    margin-left: 10px; }
  .cutting__descr {
    margin-bottom: 80px; }
  .proccess-menu {
    margin-top: 90px; }
  .slider-descr {
    min-height: 300px; }
  .main-slider__item {
    height: 670px; }
  .cutting__carousel {
    padding-top: 40px; }
    .cutting__carousel .owl-nav {
      top: 0;
      -webkit-transform: none;
      -ms-transform: none;
      transform: none;
      width: 100%; }
    .cutting__carousel .owl-next {
      margin-top: 0;
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px; }
    .cutting__carousel .owl-prev {
      display: inline-block;
      vertical-align: middle; }
  .cutting__arrow {
    top: 0;
    left: 15px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none; }
  .cutting__arrow__text {
    margin: 0; } }

@media (min-width: 992px) {
  .visible-sm {
    display: none; }
  .content_catalog:before {
    content: "";
    display: block;
    left: 0;
    top: 0;
    background: #f4f6f7;
    height: 100%;
    width: 50%;
    position: absolute;
    z-index: -1; }
  .wrapper {
    padding-top: 60px;
    min-height: 100%;
    padding-bottom: 416px; }
  .footer {
    margin-top: -416px; }
  .catalog {
    padding-left: 30px; } }

@media (max-width: 991px) {
  .hidden-sm {
    display: none; }
  .sidebar {
    padding-top: 0; }
  .content_catalog {
    padding-top: 30px; }
  .slider-text h2 {
    font-size: 30px;
    margin-bottom: 40px; }
  .top-panel__text {
    margin: 10px 0;
    color: #31363c; }
  .phone-text {
    color: #31363c; }
  .slider-text {
    width: 430px; }
  .calculation__item {
    width: 31%; }
  .main-slider__item {
    height: 470px; }
  .phone-input {
    margin-top: 0; }
  .calculation__group_footer {
    margin-top: 30px; }
  .calculation,
  .cutting,
  .proccess,
  .checklist,
  .instr,
  .text-block,
  .consultation,
  .advantages,
  .footer-top {
    padding: 50px 0; }
  .cutting__work,
  .cutting__work__header {
    text-align: left; }
  .proccess-menu {
    margin-top: 40px;
    margin-bottom: 30px; }
  .workman {
    margin-top: 30px;
    padding: 20px; }
  .subtitle {
    margin-bottom: 20px; }
  .instr__subtitle {
    margin-bottom: 30px; }
  .instr__item_last {
    margin-top: 40px; }
  .calculation__right {
    padding-left: 15px; } }

@media (max-width: 767px) {
  .main-slider__item {
    display: none; }
  .main-slider {
    background: url(../img/main-bg.jpg) no-repeat 50%;
    background-size: cover;
    height: 75px; }
  .modal-footer__text {
    width: 100%; }
  .btn-modal {
    margin-top: 20px; }
  .footer__item {
    text-align: center;
    width: 100%;
    margin-bottom: 20px; }
  .cutting-left {
    margin-bottom: 30px; }
  .checklist-wrapp {
    margin-top: 30px; }
  .modal-title {
    font-size: 18px; }
  .footer__contacts,
  .footer__item:last-child {
    text-align: center; }
  h2,
  .h2 {
    font-size: 24px; }
  .checklist__text {
    font-size: 18px;
    margin-bottom: 40px; }
  h4 {
    font-size: 18px;
    margin-bottom: 15px; }
  .product-price {
    font-size: 18px; }
  .product__footer .rub {
    font-size: 20px; }
  .product__name {
    font-size: 18px; }
  .calculation__item {
    width: 100%; }
  .item-title_big {
    font-size: 24px; }
  .cutting__descr {
    margin-bottom: 40px; }
  .skype-block {
    font-size: 16px; }
  .social {
    margin-top: 20px; }
  .skype-block {
    margin-bottom: 30px; }
  .cutting__work + div {
    margin-top: 40px; }
  .instr__item + .instr__item {
    margin-top: 40px; }
  .phone-input_cons {
    margin-bottom: 20px; }
  .calculation__block {
    padding: 15px; }
  .section-product {
    padding: 30px 0; }
  .page-title {
    font-size: 24px;
    margin-bottom: 30px; }
  .content {
    padding-top: 30px; }
  .pagination__pages li {
    margin: 0; }
  .pagination__pages li a {
    width: 25px;
    height: 25px;
    line-height: 21px;
    font-size: 13px; }
  .pagination__btn {
    margin-top: 5px; } }

@media (max-width: 480px) {
  .cutting__btn .btn {
    width: 100%;
    margin: 10px 0;
    text-align: center; }
  .col-12 {
    width: 100%; }
  .copyright {
    text-align: center; }
  .hidden-480 {
    display: none; }
  .catalog {
    padding-bottom: 30px; }
  .cutting__carousel .owl-nav {
    text-align: right; } }
