<footer class="footer">
	<div class="footer-top">
		<div class="container">
			<div class="footer-wrapp flex">
				<div class="footer__item">
					<div class="footer__logo">
						<a href="#">
							<img src="img/logo.png" alt="">
						</a>
					</div>
					<div class="footer__descr">
						<p>
							Станки ЧПУ плазменной <br>
							резки металла
						</p>
						<p>
							ООО «СпикомЭнерго»
						</p>
					</div>
				</div>
				<div class="footer__item">
					<h4>Компания</h4>
					<ul class="footer__menu">
						<li><a href="#">О производителе</a></li>
						<li><a href="#">Контакты</a></li>
						<li><a href="#">Дилерам</a></li>
						<li><a href="#">Новости и акции</a></li>
					</ul>
				</div>
				<div class="footer__item">
					<h4>Продукция</h4>
					<ul class="footer__menu">
						<li><a href="#">Станки плазменной резки с ЧПУ</a></li>
						<li><a href="#">Источники плазмы</a></li>
						<li><a href="#">Устройства для ЧПУ резки труб</a></li>
						<li><a href="#">Фильтрация воздуха</a></li>
						<li><a href="#">Расходные материалы</a></li>
					</ul>
				</div>
				<div class="footer__item">
					<div class="footer__contacts">
						8 800 555–10–04 <br>
						Бесплатный звонок по РФ
					</div>
					<div>
						<a href="#">client@ultratherm.ru</a>
					</div>
					<div class="social">
						<a href="#" class="social-btn facebook-btn"></a>
						<a href="#" class="social-btn youtube-btn"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="copyright">
		<div class="container">
			<div class="pull-left col-12">
				Copyright ©2007-2017 
			</div>
			<div class="pull-right col-12">
				Дизайн Makedesign.org
			</div>
		</div>
	</div>
</footer>